*{
  margin: 0;
  padding: 0;  
}

body{
  background-color: brown;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.body__h1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

.body__img{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.body__text{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
}
a{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: large;
  background-color: rgb(187, 76, 36);
  border-radius: 30px;
  
}